*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display: grid;
    font-family: 'Anton', sans-serif;
    height: 100vh;
    grid-template-rows: 125px 1fr 75px;
}

header{
    display: flex;
    padding-left: 115px;
    padding-right: 118px;
}

.logo{
    padding-top: 44px;
    padding-right: 315px;
}

.menu{
    display: flex;
    padding-top: 56px;
    gap: 35px;
}

.home:hover{
    cursor: pointer;
    text-decoration: underline #D22D2D;
}

.menu-text:hover{
    cursor: pointer;
    text-decoration: underline #D22D2D;
}

.about:hover{
    cursor: pointer;
    text-decoration: underline #D22D2D;
}

.contact:hover{
    cursor: pointer;
    text-decoration: underline #D22D2D;
}

.search{
    height: 24px;
    padding-right: 35px;
}

.profile{
    height: 24px;
}

.img{
    position: relative;
    padding-top: 62px;
    padding-left: 43px;
}

.img > .search:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: .3s;
}

.img > .profile:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: .3s;
}

main{
    display: grid;
    padding-left: 120px;
    padding-top: 57px;
    grid-template-areas:
        "textos pizza";
}

.container-esquerdo{
    grid-area: textos;
}

.titulo{
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.5) 4px 4px;
}

.subtitle{
    font-size: 56px;
}

.subtitulo-vermelho{
   color: #D22D2D;
}

.info-text{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    padding-top: 19px;
}

.container-direito{
    grid-area: pizza;
}

.pizza{
    height: 500px;
    padding-bottom: 200px;
}

.botoes{
    display: grid;
    grid-template-areas:
        "ver-mais play";
}

.ver-mais{
    grid-area: ver-mais;
    padding-top: 27px;
    font-family: 'Poppins', sans-serif
}

.action{
    background-color: #D22D2D;
    width: 213px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}

#play{
    grid-area: play;
}

.action1{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 356px;
    top: 462px;
    border-radius: 100%;
    background: #D22D2D;
    border: 8px solid #fa8f8f9d;
}

/* .pepperoni1{
    width: 150px;
    height: 111px;
} */

footer{
    display: grid;
    background-color: #D22D2D;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    color: white;
}
